<div class="text-center">
    <h1>Add item</h1>
    <!-- <p></p> -->
    <form method="post" action="/simpleform">
        Item Name:<input type="text" name="name"><br>
        Price:<input type="number" name="price"><br>
        Date:<input type="date" name="date"><br>
        Category<input type="text" name="category"><br>
        <input type="submit">
    </form>
</div>

