<!-- <div class="text-center">
    <h1>Add item</h1>
    <form method="post" action="/simpleform">
        Item Name:<input type="text" name="name"><br>
        Price:<input type="number" name="price"><br>
        Date:<input type="date" name="date"><br>
        Category<input type="text" name="category"><br>
        <input type="submit">
    </form>
</div>

HTML -->
<!-- Default form login -->
<div class="card">
    <div class="card-body">
<form class="text-center border border-light p-5" method="post" action="/simpleform" >

    <p class="h4 mb-4">Add Item</p>

    <!-- Email -->
    <input type="text" name="name" class="form-control mb-4" placeholder="Name">

    <!-- Password -->
    <input type="number" name="price" class="form-control mb-4" placeholder="Price">
    <input type="date" name="date" class="form-control mb-4" placeholder="Date">
    <input type="text" name="category" class="form-control mb-4" placeholder="Category">

    

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
</form>
</div>
</div>


