<div class="text-center">
    <h1>Update item</h1>
    <!-- <p></p> -->
    <form method="post" action="/simpleform/update">
        Item Name:<input type="text" name="name" value=<%= name %>><br>
        Price:<input type="number" name="price" value=<%= price %>><br>
        Date:<input type="date" name="date" value=<%= date %>><br>
        Category<input type="text" name="category" value=<%= category %>><br>
        <input type="submit">
    </form>
</div>

